.chat-container {
    display: grid;
    grid-template-rows: 15% 70% 15%;
    gap: 0.1rem;
    overflow: hidden;
    padding-top: 0rem;
    border-radius: 0px 20px 0px 0px;

    .chat-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-color: #5C0C78;

        .user-details {
            display: flex;
            align-items: center;
            gap: 1rem;

            .avatar img {
                height: 3.5rem;
                border-radius: 50%;
                padding: 0.1rem;
                margin: auto;
                cursor: pointer;
                border: 2px solid white;
            }

            .username h3 {
                font-size: 30px;
                color: white;
            }
        }
    }

    .chat-messages {
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 0.5rem;
        }

        &::-webkit-scrollbar-thumb {
            width: 0.5rem;
            border-radius: 1rem;
        }

        .message {
            display: flex;
            align-items: center;

            .content {
                max-width: 40%;
                overflow-wrap: break-word;
                padding: 0.4rem 1rem;
                font-size: 1.1rem;
                font-weight: 600;
                border-radius: 1rem;
                color: #d1d1d1;
            }
        }

        .sended {
            justify-content: flex-end;

            .content {
                background-color: #7C6E83;
                color: white;
            }
        }

        .received {
            justify-content: flex-start;

            .content {
                background-color: #9922A5;
                color: white;
            }
        }
    }

    @media screen and (max-width: 1080px) {
        .chat-messages .message .content {
            max-width: 70%;
        }
    }

    @media screen and (max-width: 720px) {
        border-radius: 0px 0px 0px 0px;
        grid-template-rows: 18% 72% 10%;
        height: 70vh;
        margin-top: 1vh;

        .chat-header {
            height: 4rem;
            padding: 1rem;

            .user-details .username h3 {
                font-size: 20px;
            }
        }

        .chat-messages {
            padding: 0.5rem 1rem;

            .message .content {
                max-width: 100%;
                font-size: 0.9rem;
                padding: 0.3rem 0.8rem;
            }
        }
    }
}