.input-body {
    display: grid;
    align-items: center;
    grid-template-columns: 5% 95%;
    background-color: #1C021F;
    padding: 0.3rem 1rem;
    border-radius: 0px 0px 30px 0px;
}

.input-body .button-container {
    display: flex;
    align-items: center;
    color: white;
    gap: 1rem;
    cursor: pointer;
}

.input-body .button-container .emoji {
    position: relative;
}

.input-body .button-container .emoji svg {
    font-size: 1.5rem;
    color: #ffcc68;
    cursor: pointer;
}

.input-body .button-container .emoji .emoji-picker-react {
    position: absolute;
    top: -460px;
    background-color: #080420;
    box-shadow: 0 5px 10px #9a86f3;
    border-color: #9a86f3;
}

.input-body .button-container .emoji .emoji-picker-react .emoji-scroll-wrapper::-webkit-scrollbar {
    background-color: #080420;
    width: 5px;
}

.input-body .button-container .emoji .emoji-picker-react .emoji-scroll-wrapper::-webkit-scrollbar-thumb {
    background-color: #9a86f3;
}

.input-body .button-container .emoji .emoji-picker-react .emoji-categories button {
    filter: contrast(0);
}

.input-body .button-container .emoji .emoji-picker-react .emoji-search {
    background-color: transparent;
    border-color: #9a86f3;
}

.input-body .button-container .emoji .emoji-picker-react .emoji-group:before {
    background-color: #080420;
}

.input-body .input-container {
    width: 100%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0.34);
}

.input-body .input-container input {
    width: 90%;
    height: 60%;
    background-color: transparent;
    color: white;
    border: none;
    padding-left: 1rem;
    font-size: 1.2rem;
}

.input-body .input-container input::placeholder {
    color: white;
}

.input-body .input-container input::selection {
    background-color: #9a86f3;
}

.input-body .input-container input:focus {
    outline: none;
}

.input-body .input-container button {
    padding: 0.3rem 2rem;
    border-radius: 0rem 2rem 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AD27BB;
    border: none;
    cursor: pointer;
}

.input-body .input-container button svg {
    font-size: 2rem;
    color: white;
}

@media screen and (min-width: 720px) and (max-width: 1080px) {
    .input-body {
        padding: 0 1rem;
        gap: 1rem;
    }
}

@media screen and (min-width: 720px) and (max-width: 1080px) {
    .input-body .input-container button {
        padding: 0.3rem 1rem;
    }

    .input-body .input-container button svg {
        font-size: 1rem;
    }
}